{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "jest/globals": true
  },
  "extends": "airbnb-base",
  "plugins": [
    "jest"
  ],
  "rules": {
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "max-len": [
      "error",
      160
    ],
    "arrow-parens": [
      "error","as-needed"
    ],
    "no-param-reassign": [
      "error",
      { "props": false }
    ],
    "no-underscore-dangle": 0
  }
}